#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0b206888-e45c-47e9-859c-6a4fc4ffd780 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}