#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 #s-Button-blue_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-19ea93e2-9a27-446f-a8a5-3931fe239c29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}