#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}