#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2bd5c005-cfdc-41f6-a14e-0f4b8707d522 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}