#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-50b67562-be48-45b0-b7f9-3c417b6d1b71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}