#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Label_84 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Button-blue_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 342px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}