#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a #s-Button-blue_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-55e5cb62-1618-40b5-91bf-07547d1e204a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}