#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Label_84 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc #s-Button-blue_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 342px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-578af040-5d46-4fa8-867d-cc64973f60fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}