#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}