#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-790dba61-9d13-49dd-a708-6366ec06f41f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}