#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 #s-Button-blue_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-93ad62b4-6f8d-4dfd-bad5-3cffd7dab422 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}