#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Rich_text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Rich_text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Rich_text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dd511363-56cb-427f-88c3-b1f885e18325 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}