#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_38 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 #s-Line_38 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e9466f08-8c91-4b5e-a384-3ebd188b1e73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}