#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}