#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Rich_text_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 6px 6px 6px 6px;
  padding-top: 18px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 79px;
  width: 94px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Label_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #8E8E93;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #8E8E93;
  -ms-transform: rotate(0.0deg);
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 #s-Label_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #8E8E93;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ebeafb3c-1d62-482c-a9ff-f6c02617bbc5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}